acme==0.31.0
appdirs==1.4.4
asgiref==3.2.10
asn1crypto==0.24.0
autopep8==1.4.4
certbot==0.31.0
certbot-nginx==0.31.0
certifi==2019.3.9
chardet==3.0.4
command-not-found==0.3
ConfigArgParse==0.11.0
configobj==5.0.6
crypto==1.4.1
cryptography==2.1.4
defusedxml==0.6.0
distlib==0.3.1
distro-info==0.18
Django==2.2.10
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
filelock==3.0.12
future==0.15.2
gunicorn==19.7.1
idna==2.8
importlib-metadata==1.7.0
importlib-resources==3.0.0
josepy==1.1.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
mock==2.0.0
Naked==0.1.31
ndg-httpsclient==0.4.4
oauthlib==3.0.1
parsedatetime==2.4
paytm==0.1.8
pbr==3.1.1
pep8==1.7.1
Pillow==6.2.0
psycopg2==2.8.5
pyasn1==0.4.2
pycodestyle==2.5.0
pycrypto==2.6.1
pygobject==3.26.1
PyICU==1.9.8
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyRFC3339==1.0
python-apt==1.6.0
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.5
pyxdg==0.25
PyYAML==3.12
requests==2.21.0
requests-oauthlib==1.2.0
requests-toolbelt==0.8.0
SecretStorage==2.3.1
shellescape==3.8.1
six==1.11.0
sqlparse==0.2.4
ssh-import-id==5.7
stripe==2.27.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.24.2
virtualenv==20.0.27
zipp==3.1.0
zope.component==4.3.0
zope.event==4.2.0
zope.hookable==4.0.4
zope.interface==4.3.2
