{% extends "base.html" %}
{%load static%}
{% load notif_template_tags %}
{% block head_title %}akfun | Settings{% endblock %}

{% block extra_head %}
<link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet"> 
<style>
.inside{
  background-image: linear-gradient(90deg, #1d5ebf, #1aacd9);
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: -2%;
}
.profilepic{
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 3%;
}
img { 
  width: 100%; 
  height: 100%; 
  border-radius: 50%;
  object-fit: contain; 
} 
.text_in_head{
  float: right;
  font-weight: 900;
  margin-top:-3%;
}
.right1{
  text-align: right;
  position: relative;
  left: auto;
  padding: 2%; 
  text-transform: capitalize;
  color: white;
  margin-right: 2%;
  font-size: 1.1em;
  font-weight: 1000;
}
.line{  
  margin:2%;
  border-radius: 7px;
  margin-bottom: 3%;
  text-align: center;
  padding-left: 2%;
  font-family: 'Kalam', cursive;
  font-size: 0.47em !important;
  width: max-content;
  cursor: pointer;  
}
.line>p{
  text-align: center;
}
nc{
  font-family: 'Kalam', cursive;
}
.box{
  display: none;
}
.visible{
  display: block;
}
.input-field
{
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid rgb(211, 200, 200);
  width: 250px;
  outline: none;
}
.login-button{
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  padding: 13px;
  border-radius: 7px;
  border: none;
  width: 250px;
  outline: none;
  background-color: rgb(215, 230, 17);
}
.detail{
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid rgb(211, 200, 200);
  width: 250px;
  outline: none;
  margin: 1%;
  text-transform: capitalize;
}
#view_details{
  padding-left: 5%;
  padding-right: 5%;
}
.back-button{
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  padding: 7px;
  border-radius: 7px;
  border: none;
  width: 100px;
  float: right;
  margin-right: 10%;
  margin-top: 5%;
  outline: none;
  background-color: black;
}
a{
  color: inherit;
}
.center{
  text-align: center;
  margin-top: -3%;
  text-transform: capitalize;
  color: white;
  margin-right: 2%;
  font-size: 1.1em;
  font-weight: 1000;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 100px;
  font-size: 24px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

hr{
  margin-left: 3%;
  margin-right: 3%;
  font-weight: 500;
}
th{
font-weight:500;
}
.green_result{        
        background-color:green;
        display:block;
        height:12px;
        width:12px;
        border-radius:50%;        
        margin:auto; 
        
    }
    .red_result{        
        background-color:red;
        display:block;
        height:12px;
        width:12px;
        border-radius:50%;        
        margin:auto; 
        
    }
    .purple_result{        
        background-color:purple;
        display:block;
        height:12px;
        width:12px;
        border-radius:50%;        
        margin:auto;         
    }
    #icons_share{
    display:none;
    }
</style>
{% endblock extra_head%}

{% block content %}
<style>
  #settings{
    color:  darkorange !important;    
  }
</style>
<div class="comfortable">
  <div class="inside">
    <div class="profile_heading">  
      <div class="profilepic">
        {% if  request.user.userprofile.userphoto %}
          <img class="img" src="https://akfun.fun/media/{{request.user.userprofile.userphoto}}">
        {% else %}
          <img class="img" src="https://akfun.fun/media/images/android-icon-192x192.png"> 
        {% endif %}
      </div>
      <div class="pt-2">
        <p class="right1 pl-6" >{{request.user.username}}</p>
        <p class="right1" style="margin-top:-5%">Balance: Rs. {{request.user.userprofile.total_amount}}</p> 
        <p class="right1" style="margin-top:-2%"></p>   
        {% if notes %}  
        <span class="fas fa-bell fa-2x right1" onclick="openbox('notifs')" style="margin-top:-9%;float:right;color:white">{{ notifications_item_count }}</span>
        {% else %}
        <span class="fas fa-bell-slash fa-2x right1" onclick="openbox('notifs')" style="margin-top:-9%;float:right;color:white">{{ notifications_item_count }}</span>
        {% endif %}  
        <p class="center" >Bonus : Rs.{{request.user.userprofile.refer_income}}</p>        
      </div>                
    </div>
  </div>
  <div >
    <div class="visible" id="cont">      
      <div   class="line mt-2 mb-6">     
      <span id="share" class="fas fa-share font-weight-bold fa-2x">   Share                                       </span>            
      <div  id="icons_share">      
      <hr>
        <a class="fab fa-whatsapp fa-3x ml-3" href="whatsapp://send?text=Play on AkFun with my referal link https://akfun.fun{{ request.user.userprofile.get_absolute_url }}" data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on whatsapp"></a><a class="fab fa-telegram fa-3x ml-3" href="https://t.me/share/url?url=https://akfun.fun{{ request.user.userprofile.get_absolute_url }}&text=Play on AkFun with my referal link" data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Telegram"></a></div>        
      </div><hr>
      <div id="wamt" onclick="openbox('withdraw_amt')"  class="line mb-6">
        <span class="fas fa-hand-holding fa-2x"><span style="font-family: 'Kalam', cursive;">  Withdraw Amount</span></span>        
      </div><hr>
      <div id="aset" onclick="openbox('change_details')" class="line mb-6">
        <span class="fas fa-cog fa-2x nc"><span style="font-family: 'Kalam', cursive;">  My Account Settings</span></span>
      </div><hr>
      <div id="rvs" onclick="openbox('red_envelope')" class="line mb-6">
        <span class="fas fa-envelope-open-text fa-2x"><span style="font-family: 'Kalam', cursive;">  Red Envelope</span></span>
      </div><hr>
      <div id="detail" onclick="openbox('view_details')" class="line mb-6">
        <span class="fas fa-info-circle fa-2x"><span style="font-family: 'Kalam', cursive;">  My Details</span></span>
      </div>  <hr>
      <div id="hist" onclick="openbox('history')" class="line mb-6"> 
        <span class="fas fa-history fa-2x"><span style="font-family: 'Kalam', cursive;">  My History</span></span>
      </div>  <hr>
      <div id="promo" onclick="openbox('promotions')" class="line mb-6">
        <span class="fas fa-gifts fa-2x"><span style="font-family: 'Kalam', cursive;">  My Promotions</span></span>
      </div><hr>
      <div id="transactions" onclick="openbox('transaction')" class="line mb-6">
        <span class="fas fa-wallet fa-2x"><span style="font-family: 'Kalam', cursive;">  My Wallet</span></span>
      </div>   <hr> 
      <div id="contact" class="line mb-6">
        <a href="{% url 'core:contact' %}"><span class="fas fa-satellite-dish fa-2x"><span style="font-family: 'Kalam', cursive;">  Contact</span></span></a>
      </div><hr>
      <div id="ppolicy" class="line mb-6">
        <a href="{% url 'core:privacy' %}"><span class="fas fa-user-secret fa-2x"><span style="font-family: 'Kalam', cursive;">  Privacy Policy</span></span></a>
      </div><hr>
      <div id="logout" class="line mb-6">
        <a href="{% url 'account_logout' %}"><span class="fas fa-sign-out-alt fa-2x" style="color: tomato;"><span style="font-family: 'Kalam', cursive;">  Logout</span></span></a>
      </div>   <hr>   
      <div style="margin-bottom: 32%;"></div>
    </div> 
    <div class="box">   
    <input type="text" value="https://akfun.fun{{ request.user.userprofile.get_absolute_url }}" id="myInput1"></div>
    <style>
    .tab1 {
    height: auto;
    width: 50%;
    padding-left: 3% !important;
    padding-right: 3% !important;
    border-bottom: 4px solid darkorange;
    line-height: 40px;
    text-align: center;
    font-size: 25pt;
    float: left;
    cursor: pointer;
    }
    .selected1 {
      background-color: darkorange;
      color: white;
      border: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
    @media only screen and (max-width: 1000px) {
    .tab1 {
        height: auto;
        width: 50%;
        padding-left: 3% !important;
        padding-right: 3% !important;
        border-bottom: 4px solid darkorange;
        line-height: 40px;
        text-align: center;
        font-size: 13pt;
        float: left;
        cursor: pointer;
    }
    }
    .box2{
    display:none;
    }
    .visible2{
    display:block;}
    </style>
    <div id="withdraw_amt" class="box">
      <form action="." method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <center>
        <div class="form-container">
          <h1>WithDraw Form</h1>
          <h5>Amount can't be less than Rs. 100</h5>
          <input type="number" name="amt" placeholder="Amount" class="input-field">
          <br><br>
          <input type="text" name="upiid" placeholder="UPI ID or Paytm Number" class="input-field">
                <br><br>
          <button class="login-button" type="submit">WithDraw</button>
          </center>
          <div class="pl-3 pr-3 pt-2 mb-1">
          <h3 class="ml-1">Transaction Charges</h3>
          <ul>
          <li>Upto Rs. 1500,  Rs. 45 will  be deducted</li>
          <li>Above 1500, %3 of total will be deducted for withdrawal.</li>      
          </ul>           
          </div>          
          <button onclick="backbox()" class="back-button" style="margin-bottom: 20%;">&lt;&lt;Back</button>
        </div>        
      </form>            
    </div> 
    <div id="red_envelope" class="box">
      {% for i in rv %} 
      <div class="row card p-3 ml-4 mr-2 mb-2 rounded" style="color: white;background-color:A9A9A9;">        
            <span>Amount <b class="text-primary ml-1">Rs. {{ i.amount }}</b> to {{i.user}}</span> 
      </div>
      {% endfor %}
      <button onclick="backbox()" class="back-button" style="margin-bottom: 20%;">&lt;&lt;Back</button>
    </div> 
    <div id="notifs" class="box">
      {% for i in notes %}
      <div class="row card p-3 ml-4 mr-2 mb-2 rounded" style="background-color:A9A9A9;color: #000;">
            <h3>{{i.heading}}</h3>        
            <span>{{i.description}}</span>
            {% if i.urlfield %}
            <a href="{{i.urlfield}}">Link</a>
            {% endif %} 
      </div>
      {% endfor %}
      <button onclick="backbox()" class="back-button" style="margin-bottom: 20%;">&lt;&lt;Back</button>
    </div>    
    <div id="change_details" class="box">
      <form action="." method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <center>
        <div class="form-container">
          <h1>Change Account Details</h1>                    
          <input type="hidden" name="uname" placeholder="Username" class="input-field">                                    
          <input type="text" name="email" placeholder="Email" class="input-field">          
          <button class="login-button" type="submit">Change</button>
                <br><br>                  
          <input type="text" name="pnumber" placeholder="Phone number" class="input-field">          
          <button class="login-button" type="submit">Change</button>        
                <br><br>                  
          <input class="file-upload input-field" name="image" type="file" accept="image/*">          
          <button class="login-button" type="submit">Change</button>        
                <br><br>
        </div>
        </center>
      </form>
      <button onclick="backbox()" class="back-button" style="margin-bottom: 20%;">&lt;&lt;Back</button>
    </div>
    <div id="promotions" class="box">
      <div class="pl-3 pr-3 pt-2 mb-1">
          <h3 class="ml-1">Refer income is added as</h3>
          <ul>                   
          <li>For Level 1 users, refer income is 0.87% of Downliner investment.</li>
          <li>For Level 2 users, refer income is 0.58% of Downliner investment.</li>          
          </ul>           
      </div>
      <h4 class="ml-3" style="color: tomato;">Downliners</h4>                
      <div id="tab11" class="tab1 selected1">Level 1</div>
      <div id="tab12" class="tab1">Level 2</div>
      <div id="l1" style="padding-top:9%" class="visible2">                 
      {% if request.user.userprofile.children %}      
      <div class="m-2 p-3 rounded">       
          <div class="row p-2">
          You have {{ request.user.userprofile.children }} members of Level 1 downliners with the total contribution of Rs.{{ request.user.userprofile.refer_income }}.</div>
      </div>                                                                                                                 
      {% endif %}                    
      </div>
      <div id="l2" style="padding-top:9%" class="box2">                   
      {% if request.user.userprofile.c2 %}      
      <div class="m-2 p-3 rounded"> 
      <div class="row p-2">      
          You have {{ request.user.userprofile.c2 }} members of Level 2 downliners with the total contribution of Rs.{{ request.user.userprofile.refer_income2 }}.</div>
      </div>                                                                                                                  
      {% endif %}                
      </center>
      </div>
      <button onclick="backbox()" class="back-button" style="margin-bottom: 20%;">&lt;&lt;Back</button>
    </div>
    <style>
    .tab {
    height: auto;
    width: 50%;
    padding-left: 3% !important;
    padding-right: 3% !important;
    border-bottom: 4px solid black;
    line-height: 40px;
    text-align: center;
    font-size: 25pt;
    float: left;
    cursor: pointer;
    }
    .selected {
      background-color: black;
      color: white;
      border: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
    @media only screen and (max-width: 1000px) {
    .tab {
        height: auto;
        width: 50%;
        padding-left: 3% !important;
        padding-right: 3% !important;
        border-bottom: 4px solid black;
        line-height: 40px;
        text-align: center;
        font-size: 13pt;
        float: left;
        cursor: pointer;
    }
    }
    .box1{
    display:none;
    }
    .visible1{
    display:block;}
    </style>
    <div id="transaction" class="box">
      <div class="row card p-3 ml-2 mr-2 mb-2 rounded" style="color: tomato;background-color:A9A9A9;">        
        My Balance : Rs. {{ request.user.userprofile.total_amount }}
      </div>
      <h3 class="ml-2 mt-3">Transactions</h3>    
      <div id="tab1" class="tab selected">Recharges</div>
      <div id="tab2" class="tab">Withdrawls</div>
      <div id="recharges" class="visible1">  
      <h4 class="ml-3" style="color: lightgreen;">Recent Recharges</h4>    
      <center>  
      {% if recharges %}                                         
      {% for i in recharges %} 
      <div class="m-1 border p-3 rounded">       
      <div class="row">
        <div class="col detail">
          ID : 
        </div>
        <div class="col detail">
          {{ i.ORDERID }}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          At :
        </div>
        <div class="col detail" style="color: skyblue;">
          {{ i.TXNDATE.date }}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Amount : 
        </div>
        <div class="col detail">
          {{ i.amount }}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Status : 
        </div>
        <div class="col detail" style="text-transform: lowercase;">        
          <span style="color:green">SUCCESS</span>        
        </div>
      </div>       
      </div>
      {% endfor %}                                                                                                         
      {% else %}
      No recharge is made till now.
      {% endif %}    
      </center>
      </div>
      <div id="withdrawls" class="box1">
      <h4 class="ml-3 mt-2" style="color: tomato;">Recent Withdrawls</h4>
      <center>
      {% if withdrawls %}                                         
      {% for i in withdrawls %}
      <div class="m-1 border p-3 rounded">
      <div class="row">
        <div class="col detail">
          ID :
        </div>
        <div class="col detail" style="color: skyblue;">
          {{ i.id }}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          At :
        </div>
        <div class="col detail" style="color: skyblue;">
          {{ i.made_on.date }}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Transfered To : 
        </div>
        <div class="col detail">
          {{ i.UPIID }}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Amount : 
        </div>
        <div class="col detail">
          {{ i.amount }}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Status : 
        </div>
        <div class="col detail" style="text-transform: lowercase;">
        {% if i.paid %}
          <span style="color:green">SUCCESS</span>
        {% else %}
          <span style="color:tomato">Pending</span>
        {% endif %}
        </div>
      </div>    
      </div>  
      {% endfor %}                                                                                                                            
      {% else %}
      No withdraw is done upto now.
      {% endif %}      
      </center>
      </div>      
      <button onclick="backbox()" class="back-button" style="margin-bottom: 20%;">&lt;&lt;Back</button>
    </div>
    <div id="history" class="box">
    <h1  class="ml-2 mt-3">History</h1>                      
      <center>  
      {% if history %}                                         
      {% for i in history %} 
      <div class="m-1 border p-3 rounded">       
      <div class="row">
        <div class="col detail">
          ID : 
        </div>
        <div class="col detail">
          {{ i.id_made }}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Mode : 
        </div>
        <div class="col detail">
          {{ i.mode }}
        </div>
      </div>       
      <div class="row">
        <div class="col detail">
          Amount :  
        </div>
        <div class="col detail">
          {{ i.investment }}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Invested on : 
        </div>
        <div class="col detail">
          {% if i.color_selected in "red purple green" %}
          <style>
            .mgres_{{forloop.counter}}{display: inline-block;}
            </style>
            {% if 'green' in i.color_selected %}
            <span style="margin-left:-1%" class="mgres_{{forloop.counter}} green_result"></span>
            {% endif %}
            {% if 'red' in i.color_selected %}
            <span style="margin-left:-1%" class="mgres_{{forloop.counter}} red_result"></span>
            {% endif %}
            {% if 'purple' in i.color_selected %}
            <span style="margin-left:-1%" class="mgres_{{forloop.counter}} purple_result"></span>                
            {% endif %}  
            {% else %}
            <span style="margin-left:-1%">{{ i.num_selected }}</span>
            {% endif %}                
        </div>
      </div>
     <div class="row">
        <div class="col detail">
          Status : 
        </div>
        <div class="col detail">
        {% if i.result == "won" %}
          <span style="color:green">Won</span>
        {% else %}
          <span style="color:tomato">Lost</span>
        {% endif %}
        </div>
      </div>              
      </div>
      {% endfor %}                                                                                                         
      {% else %}
      No investments made till now.
      {% endif %}    
      </center>            
      <button onclick="backbox()" class="back-button" style="margin-bottom: 20%;">&lt;&lt;Back</button>
    </div>
    <div id="view_details" class="box">
      <div class="row">
        <div class="col detail">
          Refer Link :
        </div>
        <div class="col detail" style="color: skyblue;">
          <span onclick="copier()">Copy here</a>
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Name : 
        </div>
        <div class="col detail">
          {{request.user.username}}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Phone : 
        </div>
        <div class="col detail">
          {{request.user.userprofile.phone_number}}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Level : 
        </div>
        <div class="col detail">
          {{request.user.userprofile.level}}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Email : 
        </div>
        <div class="col detail" style="text-transform: lowercase;">
          {{request.user.email}}
        </div>
      </div>      
      <div class="row">
        <div class="col detail">
          withdrawable : 
        </div>
        <div class="col detail">
          Rs. {{request.user.userprofile.total_amount}}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Referral rewards : 
        </div>
        <div class="col detail">
          {{request.user.userprofile.referral_rewards}}
        </div>
      </div>
      <div class="row">
        <div class="col detail">
          Amount Won : 
        </div>
        <div class="col detail">
          Rs. {{request.user.userprofile.won}}
        </div>
      </div>
      <button onclick="backbox()" class="back-button">&lt;&lt;Back</button>
    </div>
  </div>
  <div id="snackbar">Link copied...</div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
function openbox(id_to_open){
  var opn = "#" +id_to_open;
  $('.visible').attr('class','box');
  $(opn).attr('class','visible');
}
function backbox(){
  $('.visible').attr('class','box');
  $('#cont').attr('class','visible');
}
$("#tab1").click(moveToFirst);
$("#tab2").click(moveToSecond);

function moveToFirst() {
    $("#slide").attr('class', 'move-to-first');
    $(".tab").attr('class', 'tab');    
    $("#tab1").attr('class', 'tab selected');
    $(".visible1").attr('class', 'box1');
    $("#recharges").attr('class', 'visible1');
}

function moveToSecond() {
    $("#slide").attr('class', 'move-to-second');
    $(".tab").attr('class', 'tab');
    $("#tab2").attr('class', 'tab selected');
    $(".visible1").attr('class', 'box1');
    $("#withdrawls").attr('class', 'visible1');
}
$("#tab11").click(moveToFirst1);
$("#tab12").click(moveToSecond1);

function moveToFirst1() {
    $("#slide").attr('class', 'move-to-first');
    $(".tab1").attr('class', 'tab1');    
    $("#tab11").attr('class', 'tab1 selected1');
    $(".visible2").attr('class', 'box2');
    $("#l1").attr('class', 'visible2');
}

function moveToSecond1() {
    $("#slide").attr('class', 'move-to-second');
    $(".tab1").attr('class', 'tab1');
    $("#tab12").attr('class', 'tab1 selected1');
    $(".visible2").attr('class', 'box2');
    $("#l2").attr('class', 'visible2');
}
$("#share").click(function(){
  $("#icons_share").toggle();
});
</script>
<script>
function copier() {
var copyText = document.getElementById("myInput1");
copyText.select();
copyText.setSelectionRange(0, 99999);
document.execCommand("copy");
var x = document.getElementById("snackbar");
x.className = "show";
setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
}
</script>
{% endblock extra_scripts %}