if hist.color_selected:
                    if hist.color_selected == 'green':
                        gold_game.game.green_investment = float(gold_game.game.green_investment)+float(amt)                    
                    elif hist.color_selected == 'red':
                        gold_game.game.red_investment = float(gold_game.game.red_investment)+float(amt)                    
                    elif hist.color_selected == 'purple':
                        gold_game.game.purple_investment = float(gold_game.game.purple_investment)+float(amt)